@mixin clearfix {
  &::after {
      content: "";
      display: table;
      clear: both;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
  PHONE:            0px - 600px
  TABLET PORTRAIT:  600px - 900px
  TABLET LANDSCAPE: 900px - 1200px
  LAPTOP:           1200px - 1800px
  DESKTOP:          1800px +
*/

@mixin breakpoint($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };     // 600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 112.5em) { @content };    // 1800px
  }
}