*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  color: $blue-darkest;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0.8rem;
  width: 100%;

  > * {
    grid-column: 1 / -1;
  }
}

.main-shadow {
  box-shadow: 0 4px 16px rgba($black, 0.08);
}