*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;

  @include breakpoint(tab-port) {
    padding: 0;
  }
}

.content-container {
  margin: 0 1.6rem;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0.8rem;
}